<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ICEBOX | Login</title>
    <%- include( '../partials/head' )%>
</head>

<body>
    <%- include( '../partials/header' )%>
        <main>
            <div class='login-container'>
                <img src="../../../public/images/background.jpg" alt='login' class='user-images'>
                <div class='login'>
                    <p class='register-title'>Inicio Sesi칩n</p>
                    <form action="/index" method='POST'>
                        <div class='email-form'>
                            <label for="email" class='email'><i class="fas fa-envelope"></i> Correo Electr칩nico </label>
                            <input type="text" name='email' placeholder='micorreo@direccion.com' required>

                            <% if (typeOf errores !='undefined' ){ %>
                                <% for (let i=0 ; i < errores.length;i++){ %>
                                    <% if(errores[i].param=="email" ){ %>
                                        <div class='text-danger'>
                                            <%= errors.email.msg %>
                                        </div>
                                        <% } %>
                                            <% } %>
                                                <% } %>
                        </div>
                        <div class='password-form'>
                            <label for="password" class='password'> <i class="fas fa-key"></i>Contrase침a
                            </label>
                            <input type="password" name='password' placeholder='********' required>
                            <% if (typeOf errores !='undefined' ){ %>
                                <% for (let i=0 ; i < errores.length;i++){ %>
                                    <% if(errores[i].param=="email" ){ %>
                                        <div class='text-danger'>
                                            <%= errors.email.msg %>
                                        </div>
                                        <% } %>
                                            <% } %>
                                                <% } %>
                        </div>
                        <div class='save'>
                            <label for="save" class='save'>
                                <input type="checkbox" name='saveUser'>
                                Recordar usuario
                            </label>
                        </div>
                        <div class='login-button'>
                            <button type='submit' class='button' id='btnLogin'> Iniciar Sesi칩n
                            </button>
                        </div>
                    </form>

                    <div class='register-button'>
                        <form action="/register" method="GET">
                            <button type='submit' class='button' id='btnRegister'> Registrarse </button>
                        </form>
                    </div>


                </div>
            </div>
        </main>
        <%- include ('../partials/footer') %>

</body>

</html>