<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ICEBOX | Perfil usuario </title>
    <%- include( '../partials/head' )%>
</head>

<body>
    <%- include( '../partials/header' )%>
        <main>
            <div class='userProfile-container'>
                <img src="../../../public/images/login.jpg" alt='login' class='user-images'>
                <div class='user'>
                    <p class='user-title'> Bienvenido, <%= user.name %>
                            <br>
                            <br>
                    </p>
                    <img src="../../../public/images/profileImages/<%= user.avatar %>" alt="" class='userProfile-image'>
                    <br>
                    <br>
                    <div class='email-welcome'>
                        <%= user.email %>
                    </div>
                </div>
        </main>

        <%- include ('../partials/footer') %>
</body>

</html>