<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ICEBOX | Registro </title>
    <style>
        input:invalid {
          border: 10px double red;
          background-color: rgb(248, 177, 208);
        }
    </style><!--estilo para validador frontend-->
    <%- include( '../partials/head' )%>
</head>

<body>
    <%- include( '../partials/header' )%>
        <main>
            <div class='register-container'>
                <img src="../../../public/images/background.jpg" alt='login' class='user-images'>
                <div class='register'>
                    <p class='register-title'> Registrate </p>

                    <form action="/register" method='POST' enctype='multipart/form-data'>
                        <div class='new-name-form'>
                            <label for="name" class='name'><i class="fas fa-user-circle"></i> Nombre completo </label>
                            <!--En el Value: SÍ vino algo en el input, dejarlo, si no dejarlo vacio (null)-->
                            <input type="text" name='name' value="<%= locals.oldData ? oldData.name : null %>"
                                placeholder='Escribe tu nombre completo aquí' required maxlength="50">
                        </div>
                        <!--SI en las variables locales vino "errors" Y si en esa variable errores vino un error para el
                        campo name-->
                        <% if (locals.errors && errors.name){ %>
                            <div class='text-danger'>
                                <!--De errors que es la variable que llega, yo quiero la propiedad de name el mensaje-->
                                <%= errors.name.msg %>
                            </div>
                            <% } %>
                                <div class='new-email-form'>
                                    <label for="email" class='email'><i class="fas fa-envelope"></i> Correo electrónico
                                    </label>
                                    <input type="email" id="email" name='email'
                                        value="<%= locals.oldData ? oldData.email : null %>"
                                        placeholder='Escribe tu correo electrónico de formato similar a micorreo@dominio.com'>
                                </div>
                                <% if (locals.errors && errors.email){ %>
                                    <div class='text-danger'>
                                        <%= errors.email.msg %>
                                    </div>
                                    <% } %>

                                        <div class='new-password-form'>
                                            <label for="password" class='password'><i class="fas fa-key"></i>Nueva
                                                contraseña
                                            </label>
                                            <input type="password" name='password' required placeholder='escribe aquí tu contraseña mínimo 8 caracteres sin espacios' pattern="[A-Za-z0-9]{8,50}"
                                            title="Debe tener al menos una mayúscula, una minúscula, un número y un caracater especial">
                                        </div>
                                        <% if (locals.errors && errors.password){ %>
                                            <div class='text-danger'>
                                                <%= errors.password.msg %>
                                            </div>
                                            <% } %>

                                                <div class='image-profile-form'>
                                                    <label for="image" class='image'><i class="fas fa-camera"></i>
                                                        Imagen de
                                                        perfil </label>
                                                    <input type="file" name='image' required>
                                                </div>
                                                <% if (locals.errors && errors.image){ %>
                                                    <div class='text-danger'>
                                                        <%= errors.image.msg %>
                                                    </div>
                                                    <% } %>

                                                        <div class='save-promotions'>
                                                            <label for="save" class='send-email'>
                                                                <input type="checkbox" name='save' value='yes'>
                                                                Me gustaría recibir correos con promociones, ofertas y
                                                                nuevos
                                                                productos
                                                            </label>
                                                        </div>

                                                        <div class='main-button'>
                                                            <button type='submit' class='button'> Crear
                                                                cuenta </button>
                                                        </div>
                                                        <div class='delete-button'>
                                                            <button type='reset' class='button'> Borrar datos </button>
                                                        </div>
                    </form>
                    <script type="text/javascript" src="../../../Public/js/userValidations.js"></script>
                    <!-- script validador frontend-->
                </div>
            </div>
            <%- include ('../partials/footer') %>
</body>

</html>